@font-face {
  font-family: 'OpenSans', sans-serif;
  src: url("../fonts/OpenSans-Regular.woff") format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans', sans-serif;
  src: url("../fonts/OpenSans-Light.woff") format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans', sans-serif;
  src: url("../fonts/OpenSans-Bold.woff") format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JosefinSans', sans-serif;
  src: url("../fonts/JosefinSans-Bold.woff") format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MrsSheppards';
  src: url("../fonts/MrsSheppards-Regular.woff") format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway', sans-serif;
  src: url("../fonts/Raleway-Bold.woff") format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Raleway', sans-serif;
  src: url("../fonts/Raleway-Regular.woff") format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
